body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  header {
    background-color: rgb(23,162,184);
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding: 20px;
    width: 100vw;
    overflow-x: hidden;
    margin-top:-20px;
    margin-left: -20px;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    font-size: 20px;
  }
  
  nav li {
    color: #fff;
    text-decoration: none;
    padding: 10px 120px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    top: 300px;

  }
  p{
    text-align: center;

  }
  .heading{
    text-align: center;
  }
  #contacts{
    margin-top: 200px;
  }
  